.dockerignore
.git
.gitignore
.env
docker-compose.yml
example.env
server/.vscode
server/configs
server/README.md
server/*.exe
client/.vscode
client/.dart_tool
client/.idea
client/.docs
client/build
client/android
client/ios
client/linux
client/macos
client/test
client/windows
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/mars_client.iml
client/pubspec.lock
client/README.md
AUTHORS.md
CONTRIBUTING.md
LICENSE
NOTICE
README.md