version: '2'
networks:
  intranet:
    name: intranet

volumes:
  postgres:
  tm-db:

services:
  postgres:
    image: postgres:15.6
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_MULTIPLE_DATABASES: ${DB_NAME}, ${GAME_DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    networks:
      - intranet
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "${DB_NAME}", "-U", "${DB_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 60s
    restart: unless-stopped

  terraforming-mars:
    container_name: dercasdrol/tm-web-game-server:latest
    restart: unless-stopped
    environment:
      POSTGRES_HOST: postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${GAME_DB_NAME}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=intranet"
      - "traefik.http.routers.tm-auth-lobby-chat.rule=Host(`${GAME_SERVER_HOST}`) || Host(`www.${GAME_SERVER_HOST}`)"
      - "traefik.http.routers.tm-auth-lobby-chat.entrypoints=websecure"
      - "traefik.http.services.tm-auth-lobby-chat.loadbalancer.server.port=8081"
      - "traefik.http.routers.tm-auth-lobby-chat.service=tm-auth-lobby-chat"
      - "traefik.http.routers.tm-auth-lobby-chat.tls.certresolver=letsencrypt"
    security_opt:
      - no-new-privileges:true
    volumes:
      - tm-db:/usr/src/app/db
    depends_on:
      postgres:
        condition: service_healthy

  tm-auth-lobby-chat:
    build: .
    image: dercasdrol/new-tm-web-client:latest
    container_name: tm-auth-lobby-chat
    networks:
      - intranet
    environment:
      AUTH_CHAT_LOBBY_WS_HOST: ${AUTH_CHAT_LOBBY_WS_HOST}
      AUTH_CHAT_LOBBY_HTTP_HOST: ${AUTH_CHAT_LOBBY_HTTP_HOST}
      CHAT_PORT: ${CHAT_PORT}
      LOBBY_PORT: ${LOBBY_PORT}
      AUTH_PORT: ${AUTH_PORT}
      GAME_SERVER_HOST: ${GAME_SERVER_HOST}
      #Currently client have no access to the variables
      #TODO: create json file with them on server side and serve it to client
      CLIENT_LOGGING_ENABLED: ${CLIENT_LOGGING_ENABLED}
      CLIENT_LOGGING_LEVEL: ${CLIENT_LOGGING_LEVEL}
      SERVER_LOGGING_ENABLED: ${SERVER_LOGGING_ENABLED}
      SERVER_LOGGING_LEVEL: ${SERVER_LOGGING_LEVEL}
      GRACEFUL_TERM_TIME_MILLIS: ${GRACEFUL_TERM_TIME_MILLIS}
      DISCORD_CLIENT_ID: ${DISCORD_CLIENT_ID}
      DISCORD_CLIENT_SECRET: ${DISCORD_CLIENT_SECRET}
      AUTH_JWT_SECRET: ${AUTH_JWT_SECRET}
      AUTH_SERVER_OAUTH_CALLBACK_ENDPOINT: ${AUTH_SERVER_OAUTH_CALLBACK_ENDPOINT}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=intranet"
      - "traefik.http.routers.tm-auth-lobby-chat.rule=Host(`${AUTH_CHAT_LOBBY_HTTP_HOST}`) || Host(`www.${AUTH_CHAT_LOBBY_HTTP_HOST}`)"
      - "traefik.http.routers.tm-auth-lobby-chat.entrypoints=websecure"
      - "traefik.http.services.tm-auth-lobby-chat.loadbalancer.server.port=8080"
      - "traefik.http.routers.tm-auth-lobby-chat.service=tm-auth-lobby-chat"
      - "traefik.http.routers.tm-auth-lobby-chat.tls.certresolver=letsencrypt"

      - "traefik.http.routers.tm-chat.rule=Host(`${AUTH_CHAT_LOBBY_HTTP_HOST}`) || Host(`www.${AUTH_CHAT_LOBBY_HTTP_HOST}`)"
      - "traefik.http.routers.tm-chat.entrypoints=websecure_ws1"
      - "traefik.http.services.tm-chat.loadbalancer.server.port=${CHAT_PORT}"
      - "traefik.http.routers.tm-chat.service=tm-chat"
      - "traefik.http.routers.tm-chat.tls.certresolver=letsencrypt"

      - "traefik.http.routers.tm-lobby.rule=Host(`${AUTH_CHAT_LOBBY_HTTP_HOST}`) || Host(`www.${AUTH_CHAT_LOBBY_HTTP_HOST}`)"
      - "traefik.http.routers.tm-lobby.entrypoints=websecure_ws2"
      - "traefik.http.services.tm-lobby.loadbalancer.server.port=${LOBBY_PORT}"
      - "traefik.http.routers.tm-lobby.service=tm-lobby"
      - "traefik.http.routers.tm-lobby.tls.certresolver=letsencrypt"

      - "traefik.http.routers.tm-auth.rule=Host(`${AUTH_CHAT_LOBBY_HTTP_HOST}`) || Host(`www.${AUTH_CHAT_LOBBY_HTTP_HOST}`)"
      - "traefik.http.routers.tm-auth.entrypoints=websecure_ws3"
      - "traefik.http.services.tm-auth.loadbalancer.server.port=${AUTH_PORT}"
      - "traefik.http.routers.tm-auth.service=tm-auth"
      - "traefik.http.routers.tm-auth.tls.certresolver=letsencrypt"
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
